.cardContainer {
  width: 350px;
  display: flex;
  flex-flow: column nowrap;
  margin: 10px;
  .articleContainer {
    display: flex;
    flex-flow: row wrap;
    h3 {
      margin: 0;
    }
    span {
      white-space: pre;
    }
    .excerpt {
      margin-top: -10px;
    }
  }
  .articleTitle {
    display: inline-block;
  }
  .articleLink {
    text-decoration: none;
    color: black;
  }
  .featuredImage {
    object-fit: cover;
    width: 350px;
    height: 350px;
    margin-bottom: 15px;
  }
}
