@import "./variables";

.filter {
  display: flex;
  flex-flow: row nowrap;
  p {
    margin: 0 0 0 5px;
  }
  .filterFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
  }
}
.box {
  height: 8px;
  width: 8px;
  background: $dark-grey;
}
